body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 60px; /* Adjusted padding for the fixed navbar */
    overflow: hidden; /* Hide overflow to prevent scrolling */
}

nav {
    background-color: #fff; /* White background color */
    border-bottom: 2px solid #ccc; /* Grey border at the bottom */
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    color: #333; /* Dark text color */
    text-align: center;
    padding: 14px 16px;
    text-transform:uppercase; 
    text-decoration: none;
    transition: color 0.3s; /* Smooth color transition */
}

nav a:hover {
    background-color: #ddd; /* Light grey background on hover */
    color: #000; /* Black text on hover */
}

.container {
    background-color: #fff;
    width: 50%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus,
select:focus {
    outline: none;
    border-color: #4caf50; /* Adjust the color as needed */
}


button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-start;
}

button:hover {
    background-color: #45a049;
}

/* Styling for the notification */
.notification {
    display: none;
    background-color: #f44336;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
}

.notification.success {
    background-color: #28a745; /* Green background for success */
}

.notification.error {
    background-color: #f44336; /* Red background for error */
}

/* Add spacing to the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Style the Edit and Download buttons */
.btn {
    display: inline-block;
    padding: 8px 16px;
    margin: 4px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50; /* Green */
    color: white;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #008CBA; /* Blue */
    border: 1px solid #008CBA;
}

.btn:hover {
    background-color: #45a049;
    color: white;
}

.btn-secondary:hover {
    background-color: #005F7F;
    color: white;
}
