{% extends 'base.html' %}

{% block title %}Invoices{% endblock %}

{% block content %}
<div class="header">
    <h1>INVOICES</h1>
    <a href="{{ url_for('download_csv') }}" class="btn btn-primary">Download CSV</a>
</div>
<div class="invoice-container"> <!-- Add a container for the invoices -->
{% if entries %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Company</th>
                <th>Invoice</th>
                <th>Job</th>
                <th>Action</th> <!-- New column for the Edit/Delete button -->
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr>
                    <td>{{ entry['id'] }}</td>
                    <td>{{ entry['company'] }}</td>
                    <td>{{ entry['invoice'] }}</td>
                    <td>{{ entry['job'] }}</td>
                    <td>
                        <a href="{{ url_for('edit_entry', entry_id=entry.id) }}" class="btn btn-edit">Edit</a>
                        <form method="post" action="{{ url_for('delete_entry', entry_id=entry.id) }}">
                            <button type="submit" class="btn btn-edit">Delete</button>
                        </form>
                        <a href="{{ url_for('download_file', filename=entry.pdf_file) }}" download class="btn btn-edit">Download</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="get" action="{{ url_for('download_all_pdfs') }}">
        <button type="submit" class="btn btn-primary">Download All PDFs</button>
    </form>
{% else %}
    <p>No entries found.</p>
{% endif %}

</div>
{% endblock %}
