{% extends 'base.html' %}

{% block title %}Invoices{% endblock %}

{% block content %}
<a href="{{ url_for('download_csv') }}" class="btn btn-primary">Download CSV</a>

<h1>INVOICES</h1>
{% if entries %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Company</th>
                <th>Invoice</th>
                <th>Job</th>
                <th>Action</th> <!-- New column for the Edit button -->
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr>
                    <td>{{ entry['id'] }}</td>
                    <td>{{ entry['company'] }}</td>
                    <td>{{ entry['invoice'] }}</td>
                    <td>{{ entry['job'] }}</td>
                    <td>
                        <a href="{{ url_for('edit_entry', entry_id=entry.id) }}" class="btn btn-secondary">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No entries found.</p>
{% endif %}
{% endblock %}
